
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: addressblocks.coil.cybozu.com
spec:
  group: coil.cybozu.com
  names:
    kind: AddressBlock
    listKind: AddressBlockList
    plural: addressblocks
    singular: addressblock
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.labels['coil\.cybozu\.com/node']
      name: Node
      type: string
    - jsonPath: .metadata.labels['coil\.cybozu\.com/pool']
      name: Pool
      type: string
    - jsonPath: .ipv4
      name: IPv4
      type: string
    - jsonPath: .ipv6
      name: IPv6
      type: string
    name: v2
    schema:
      openAPIV3Schema:
        description: "AddressBlock is the Schema for the addressblocks API \n The ownerReferences field contains the AddressPool where the block is curved from."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          index:
            description: Index indicates the index of this block from the origin pool
            format: int32
            minimum: 0
            type: integer
          ipv4:
            description: IPv4 is an IPv4 subnet address
            type: string
          ipv6:
            description: IPv6 is an IPv6 subnet address
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
        required:
        - index
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
