---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: blockrequests.coil.cybozu.com
spec:
  group: coil.cybozu.com
  names:
    kind: BlockRequest
    listKind: BlockRequestList
    plural: blockrequests
    singular: blockrequest
  scope: Cluster
  versions:
  - name: v2
    schema:
      openAPIV3Schema:
        description: "BlockRequest is the Schema for the blockrequests API \n The
          ownerReferences field contains the Node on which coild that created this
          run."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: BlockRequestSpec defines the desired state of BlockRequest
            properties:
              nodeName:
                description: NodeName is the requesting node name.
                type: string
              poolName:
                description: PoolName is the target AddressPool name.
                type: string
            required:
            - nodeName
            - poolName
            type: object
          status:
            description: BlockRequestStatus defines the observed state of BlockRequest
            properties:
              addressBlockName:
                description: AddressBlockName is the allocated address block name.
                type: string
              conditions:
                description: Conditions is the list of conditions.
                items:
                  description: BlockRequestCondition defines the condition of a BlockRequest
                  properties:
                    lastProbeTime:
                      description: Last time the condition was checked.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: Last time the condition transit from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: Human readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition, Complete or Failed.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
