apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: coilv2-mutating-ipam-webhook-configuration
webhooks:
- name: maddresspool.kb.io
  clientConfig:
    caBundle: "%CACERT%"
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: coilv2-validating-ipam-webhook-configuration
webhooks:
- name: vaddresspool.kb.io
  clientConfig:
    caBundle: "%CACERT%"
