apiVersion: v1
kind: Namespace
metadata:
  name: internet
---
apiVersion: coil.cybozu.com/v2
kind: Egress
metadata:
  name: {{ .EgressName }}
  namespace: internet
spec:
  replicas: 1
  destinations:
  {{if .IPv4Addr }}  - {{ .IPv4Addr }} {{end}}
  {{if .IPv6Addr }}  - {{ .IPv6Addr }} {{end}}
  fouSourcePortAuto: true
  template:
    spec:
      nodeSelector:
        kubernetes.io/hostname: coil-control-plane
      tolerations:
      - effect: NoSchedule
        operator: Exists
      containers:
      - name: egress
