Host *
User cybozu
IdentityFile mtest_key
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
LogLevel ERROR

Host host1
HostName 10.0.0.11

Host node1
HostName 10.0.0.101

Host node2
HostName 10.0.0.102
